/* styles.css */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Убираем прокрутку, если она есть */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

#image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; /* Убираем отступы под изображением */
}

#quiz-container {
    position: absolute;
    top: 40%; /* здесь положение вверх вниз меняется */
    left: 50%; /* здесь влево вправо */
    transform: translate(-50%, 0);
    text-align: center;
    z-index: 10; /* Убедимся, что контейнер с вопросами отображается поверх изображения */
    width: 80%; /* здесь ширина контейнера с вопросами и ответами */
    max-width: 600px; /* здесь максимальная ширина контейнера */
    height: 30%; /* фиксированная высота контейнера */ /*60*/
}

#question-box {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Добавляем отступ снизу */
    height: 40%; /* фиксированная высота для вопроса */
    overflow-y: auto; /* добавляем вертикальную прокрутку */
}

#answers {
    height: 50%; /* фиксированная высота для ответов */
    overflow-y: auto; /* добавляем вертикальную прокрутку */
    margin-top: 20px;
}

.answer {
    margin: 10px 0;
    cursor: pointer;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: transform 0.3s, background-color 0.3s;
    text-align: left; /* Выравниваем текст по левому краю */
}

.answer:hover {
    background-color: #f0f0f0;
    transform: scale(1.05);
}
