body {
    background-color: #E0D6EB; /* Мягкий фиолетовый */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Helvetica Neue', sans-serif;
    overflow: hidden;
    position: relative;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.9); /* Полупрозрачный фон */
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

h2 {
    color: #333;
    font-style: italic;
    margin-bottom: 20px;
}

.options {
    display: flex;
    flex-direction: column;
}

button.option {
    background-color: #FFC0CB; /* Светло-розовый */
    border: none;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.3s, transform 0.3s;
    font-style: italic;
    margin: 5px 0;
}

button.option:hover {
    background-color: #FF69B4; /* Ярко-розовый при наведении */
    transform: scale(1.05);
}

button.option:active {
    transform: scale(0.95);
}

button.option.wrong {
    animation: wrongBlink 0.5s 3;
}

button.option.correct {
    animation: correctBlink 0.5s 3;
}

@keyframes wrongBlink {
    0% { background-color: #FFC0CB; }
    50% { background-color: #FF6347; } /* Красный */
    100% { background-color: #FFC0CB; }
}

@keyframes correctBlink {
    0% { background-color: #FFC0CB; }
    50% { background-color: #32CD32; } /* Зеленый */
    100% { background-color: #FFC0CB; }
}

#yesImage, #noImage {
    position: absolute;
    height: 200px; /* Уменьшенный размер */
    width: auto;
    z-index: 2;
    opacity: 1;
    pointer-events: none;
}

#yesImage {
    left: -200px; /* Начальное положение слева от экрана */
    transition: transform 2s ease-out;
}

#yesImage.slide-in-out {
    animation: slideInLeft 4s ease-out forwards;
}

#noImage {
    right: -200px; /* Начальное положение справа от экрана */
    transition: transform 2s ease-out;
}

#noImage.slide-in-out {
    animation: slideInRight 4s ease-out forwards;
}

@keyframes slideInLeft {
    0% { transform: translateX(-100%); }
    50% { transform: translateX(0); }
    75% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

@keyframes slideInRight {
    0% { transform: translateX(100%); }
    50% { transform: translateX(0); }
    75% { transform: translateX(0); }
    100% { transform: translateX(100%); }
}
